 <!-- Footer -->
 <footer>
    <div class="bg-info footer ">
      <div class="card card-footer">
        <div class="row text-white text-center">
          <div class="col-sm  ">
            <p class="h4">
              Head Office
              <p> Dhobighat,Lalitpur</p>   
            </p>
            <p>Tel:+977 15538068 
            </p>
            <p>Email:animalnepal@gmail.com</p>
          </div>
          <div class="col-sm">
            <p class="h4">Dog Tretement Center</p>
            <p>Chobhar,Lalitpur 
            </p>
            <p>
              Tel:+977 9805545454
            </p>

          </div>


          <div class="col-sm">
            <ul class="links">
              <li>
                <a href="#">Help Support</a>
              </li>
              <li>
                
                <a href="#">Support Polocy</a> 
              </li>
              <li>
                <a href="#">FAQs</a> 

              </li>
            </ul>

          </div>
        </div>

      </div>
      <div class="row m-0 text-center">
        <div class="col back-fb">
          <a href="#" class="fa fa-facebook social"></a>
        </div>
        <div class="col back-inst">
          <a href="#" class="fa fa-instagram social"></a>

        </div>
        <div class="col back-twit">
          <a href="#" class="fa fa-twitter social"></a>
        </div>
      </div>
    </div>
  </footer>