{% extends 'layout.html' %}
{% block title %}
<title>
  Profile Update
</title>
{% endblock %}


{% block content %}

<div class="container">
  <div class="media border rounded mt-3 mb-3">
    <img src="..." class="mr-3" alt="...">
    <div class="media-body">
      <h5 class="mt-0">Media heading</h5>
      <div class="row">
        <p>Will you do the same for me? It's time to face the music I'm no longer your muse.
           Heard it's beautiful, be the judge and my girls gonna take a vote. I can feel a phoenix inside of me. Heaven 
           is jealous of our love, angels are crying from up above. Yeah, you take me to utopia.</p>
        <input type="button" class="btn btn-success col-2 mb-3" value="Adopted">
        <input type="button" class="btn btn-success col-2 mb-3 ml-4" value="View Detailsm">

      </div>
    </div>
  </div>
</div>



{% endblock %}


    
</body>
</html>



