
  
  <!-- <div class="col bg-light">

  <div class="container mt-5">
    <div class="row">
      <div class="col-4 mt-4">
        <div class="card" style="width: 18rem;">
                      <img src="..." class="card-img-top" alt="...">
                      <div class="card-body">
                        <p class="card-text">User Profile</p>
                      </div>
                    </div>
              </div>
              <div class="col-4 mt-4">
                  <div class="card" style="width: 18rem;">
                      <img src="..." class="card-img-top" alt="...">
                      <div class="card-body">
                        <p class="card-text">Adopt Post</p>
                      </div>
                    </div>    
  
              </div>
              <div class="col-4 mt-4">
                  <div class="card" style="width: 18rem;">
                      <img src="..." class="card-img-top" alt="...">
                      <div class="card-body">
                        <p class="card-text">Story post</p>
                      </div>
                    </div>    
  
              </div>
              <div class="col-4 mt-4">
                  <div class="card" style="width: 18rem;">
                      <img src="..." class="card-img-top" alt="...">
                      <div class="card-body">
                        <p class="card-text">Donation</p>
                      </div>
                    </div>    
  
              </div>
  
          </div>
  
      </div>

  </div> -->